<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{$basePath}/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{$basePath}/css/app.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	{block head}{/block}
</head>
<body>
	<div class="container">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{$flash->message}
		</div>
		{block content}{/block}
	</div>

	{block scripts}
	<script src="{$basePath}/jQuery/jquery.js"></script>
	<script src="{$basePath}/jQuery/jquery-migrate.js"></script>
	<script src="{$basePath}/bootstrap/js/bootstrap.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/nette.ajax/nette.ajax.js"></script>
	<script src="{$basePath}/js/app.js"></script>
	{/block}
</body>
</html>
