{block content}
<h1 class="center">Prohlížeč feedu</h1>

<form n:name="feedUrlForm">
	<div class="input-group">
		<input n:name="url" placeholder="Zadej URL feedu" class="form-control">
		<span class="input-group-btn">
			<input n:name="load" class="btn btn-primary">
		</span>
	</div>
</form>

{snippet feedList}
	<p><b>Historie načtení feedů:</b></p>
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>URL</th>
				<th>Počet produktů ve feedu</th>
				<th>Datum</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$feedsPaginated as $feed">
				<td>
					{$feed->url}
					<sup>
						<a href="{$feed->url}" target="_blank" title="download">
							<i class="glyphicon glyphicon-download"></i>
						</a>
					</sup>
				</td>
				<td>
					{$feed->product_count|number:0,'.',' '}
					<a n:href="Item:, $feed->id" class="list-items btn btn-xs btn-success">
						<i class="glyphicon glyphicon-list-alt"></i>
						Zobrazit {$feed->product_count|number:0,'.',' '} produktů
					</a>
				</td>
				<td>{$feed->date|date:'j.n.Y G:i:s'}</td>
			</tr>
		</tbody>
	</table>
	<p n:if="count($feedsPaginated) == 0">
		<center><i>Zatím žádné záznamy.</i></center>
	</p>

	<center>{control paginator}</center>
{/snippet}
{/block}


{block head}
<link href="{$basePath}/css/app.homepage.default.css" rel="stylesheet">
{/block}
