{block content}
<h1 class="center">Prohlížeč feedu</h1>

{snippet itemList}
	<p class="pagination-itemcount-links">
		<a n:href="setItemsPerPage!, 3" class="btn btn-primary btn-xs">3</a>
		<a n:href="setItemsPerPage!, 10" class="btn btn-primary btn-xs">10</a>
		<a n:href="setItemsPerPage!, 50" class="btn btn-primary btn-xs">50</a>
		<a n:href="setItemsPerPage!, 100" class="btn btn-primary btn-xs">100</a>
	</p>
	<p class="navigation-links">
		<a n:href="Homepage:" class="btn btn-success btn-xs">← Zpět</a>
	</p>
	<table class="table table-hover table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th rowspan="2">ITEM_ID</th>
				<th n:foreach="$keys as $key">{$key}</th>
			</tr>
			<tr>
				<th colspan="{count($keys)}">
					<center>{control columnPaginator}</center>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$itemsPaginated as $item">
				<th>
					{@$item->values['ITEM_ID']}
				</th>
				<td n:foreach="$keys as $key">
					{@$item->values[$key]}
				</td>
			</tr>
		</tbody>
	</table>
	<p n:if="count($itemsPaginated) == 0">
		<center><i>Zatím žádné záznamy.</i></center>
	</p>

	<center>{control paginator}</center>
{/snippet}
{/block}


{block head}
<link href="{$basePath}/css/app.item.default.css" rel="stylesheet">
{/block}
