.pagination-itemcount-links {
    float: right;
}

.pagination-sm {
    margin: 4px 0 0 0;
}
.pagination-sm a {
    font-weight: normal;
    color: #333;
}
.pagination-sm li.active a {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pagination-sm li.active a:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: none;
}

table.table thead tr th {
    vertical-align: middle;
}
table.table tbody tr th {
    width: 1px;
    white-space: nowrap;
}
